#  Aliases

# Shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias gd="cd ~/Google\ Drive"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias hs='history | grep'
alias projects="cd documents/code/projects"
alias zshrc="code ~/.zshrc"

# Other
alias myip="curl http://ipecho.net/plain; echo"
alias ls="colorls"
alias edit="micro"

# Show/hide hidden files in Finder
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Git
alias gcm="git commit --message"
alias gs="git status"
alias gp="git pull"
alias ga="git add"
alias gl="git log"
alias gfr="git fetch && git rebase"
alias gb="git branch"
alias gco="git checkout"
alias gf="git fetch"
alias status="find . -maxdepth 1 -mindepth 1 -type d -exec sh -c '(echo {} && cd {} && git -c color.status=always status && echo)' \;"
eval "$(hub alias -s)"

# Code
alias npmclean="rm -rf node_modules && npm install"
alias updatenpmruby="npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-document"

# Docker
alias dc="docker-compose"
alias dcdev="docker-compose -f docker-compose-dev.yml" 
alias dps="docker ps"
alias drmf='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
